/* CSS MODULES
    - have .module.css extension
    - Automatically re-map class names so they are ALWAYS only local refs
    - DO NOT STYLE ELEMENTS (eg. h1, p, etc..) IN MODULES! These act global, as normal
*/

.signup-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
}
.signup-form label {
    display: block;
    margin: 30px auto;
}
.signup-form span {
    display: block;
    margin-bottom: 6px;
}
.signup-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
}
